@import 'mixins';

.footerBg {
  background: $color-d0;
  padding: 40px 10px 15px 10px;
}

.footer {
  @include pageFlex();
  justify-content: space-between;
  .footerLogo {
    max-width: 197px;
  }
  .footerSocials {
    display: flex;
    flex-direction: column;
    p {
      @include font(text);
      color: $color-w0;
      text-align: end;
      margin-bottom: 5px;
    }
    .socialsWrapper {
      display: flex;
      justify-content: center;
      gap: 15px;
      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}
.footerCopy {
  @include font(text);
  text-align: center;
  color: $color-w0;
  margin-bottom: 15px;
  a {
    display: inline-block;
    text-decoration: underline;
  }
}

@media only screen and (max-width: 786px) {
  .footer {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-bottom: 25px;
    .footerSocials p {
      text-align: center;
    }
  }
}