@import "mixins";

.forgotPasswordBtn {
  display: block;
  max-width: fit-content;
  color: $color-m0;
  margin-left: auto;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.modalWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #22222288;
  position: fixed;
  top: 0px;
  left: 0px;
}

.modal {
  background: $color-w0;
  width: 90%;
  max-width: 800px;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 4px 4px 4px 0px $shadow-10;
  position: relative;
  .modalTitle {
    max-width: fit-content;
    margin: 0px auto 25px auto;
    @include font(emphasis);
  }
  .modalField {
    display: block;
    max-width: fit-content;
    margin: 0px auto 25px auto;
    position: relative;
    @include font(text);
    input {
      width: 100%;
      padding: 10px 15px;
      border: 1px solid $color-w-2;
      border-radius: 5px;
      margin-top: 5px;
      &:focus {
        box-shadow: 0px 0px 2px 1px $color-m0;
      }
    }
    [data-error] {
      display: block;
      color: $color-off;
    }
  }
  .modalBtn {
    margin: 0px auto;
    @include button();
  }
  .successMessage {
    max-width: fit-content;
    color: $color-w0;
    background: $color-on;
    padding: 15px 25px;
    border-radius: 5px;
    margin: 0px auto;
    @include font(text);
  }
  .modalClose {
    width: 26px;
    height: 26px;
    background: none;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
    &:hover {
      background: red;
      &::before, &::after {
        background: $color-w0;
      }
    }
    &::before, &::after {
      content: '';
      display: block;
      background: $color-w-2;
      width: 20px;
      height: 2px;
      position: absolute;
      top: 12px;
      left: 3px;
      rotate: 45deg;
    }
    &::after {
      rotate: -45deg;
    }
  }
}
